DATABASE_URL=postgres://qrpayment:qrpayment@localhost:5434/qrpayment

# --- Server ---
PORT=3000

BASE_URL=http://localhost:3000

APP_URL=http://localhost:3000

OIDC_ISSUER_URL=https://account.maja.id/auth/realms/maja
OIDC_CLIENT_ID=qr-payment
OIDC_CLIENT_SECRET=eBP4ndi6wY4cF-IPuXv55kMk-g5Ru9-ds4tNLAsj6xM

# --- Sessions ---
SESSION_COOKIE_NAME=qr-payment.session
# Set to true when serving over HTTPS.
SESSION_SECURE=false


MAJA_TOKEN_URL=https://account.makaramas.com/auth/realms/maja/protocol/openid-connect/token

MAJA_BASE_URL=https://billing.maja.id
MAJA_CLIENT_ID=MAJA80113
MAJA_CLIENT_SECRET=B31tMd8VBkFqTcyKddVqTbPdDP2XmpzD
MAJA_USERNAME=80113
MAJA_PASSWORD=80113
